/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.containerHeader{
  display: flex;
  margin: auto;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  position: fixed;
  background-color: #2044a6;
  transition: 0.3s;
  width: 17rem;
}
.containerHeader nav{
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 280px;
  height: 110vh;
}
.containerHeader .navbar{
  width: 80%;
  margin: 0 auto;
}

.containerHeader .logo{
  margin: 2rem 0 1rem 1rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;


}
.containerHeader .logo img{
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 25%;
  background-color: white;
}
.containerHeader .logo h1{
  margin-left: 1rem;
  text-transform: uppercase;
}

.containerHeader ul{
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
}
.containerHeader li{
  padding-bottom: 1.2rem;
}
.containerHeader li a{
    font-size: 16px;
    text-decoration: none;
    padding: 5px 10px;
    padding-left: 0;
    border-radius: 10px;
    width: 90% !important;
    display: flex;
    align-items: center;
    justify-content: start;
}

.containerHeader nav i{
  width: 50px;
  font-size: 18px;
  text-align: center;
}
.containerHeader ul i::before{
        color: rgba(255,255,255,0.7);;
}
.containerHeader ul span{
    color: rgba(255,255,255,0.7);;
}
.containerHeader li a:hover{
    background-color: #122d75;
}
@media (max-width:600px) {
    .containerHeader{
        width: 4.5rem;
    }
    .containerHeader ul span{
        display: none;
    }
    .containerHeader .logo img{
        width: 20px;
        height: 20px;
        margin: 2rem 0 0rem 0.5rem;
    }
    .containerHeader .logo{
        margin: 0;
    }
}

/* Main Section */
.active{
  background-color: #122d75 !important;
}